@model Tamin.Registration.Web.Models.RegisterFormViewModel
@section head
{
    <link href="/Content/amib/js-persian-cal.css" rel="stylesheet" />

    <title>فرم ثبت نام</title>

}

<br />
<h3 style="text-align:center;">@ViewBag.EventTitle</h3>
<br />
@using (Html.BeginForm("Index", "Register", null, FormMethod.Post, new Dictionary<string, Object>() {
{"class","form-horizontal"},
{"role","form" },
{"enctype" , "multipart/form-data"},
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-12 alert alert-success">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                            انتخاب کارگاه
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td style="width:15px;">
                        <input type="radio" name="EventId" value="1" />
                    </td>
                    <td>
                        <p>
                            Bio-Centric Health Management in Iran:
                            Relaxation, Imagery, Music and Movement for Adult and
                            Children to reduce Stress
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="EventId" value="2" />
                    </td>
                    <td>
                        <p>
                            Bio-Centric Health Management in Iran:
                            School of Empathy to Improve Verbal and Nonverbal
                            Communication
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="EventId" value="2" checked="checked" />
                    </td>
                    <td>
                        هر دو کارگاه
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 alert alert-info">


            <div class="form-horizontal">






                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.EName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EFamily, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EFamily, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EFamily, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Family, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Family, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Family, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NatinalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NatinalCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NatinalCode, "", new { @class = "text-danger" })
                    </div>
                </div>





                <div class="form-group">
                    @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="Level" class="form-control">
                            <option value="کاردان">کاردان</option>
                            <option value="کارشناس">کارشناس</option>
                            <option value="کارشناس ارشد">کارشناس ارشد</option>
                            <option value="دکتری">دکتری</option>
                            <option value="دانشجو">دانشجو</option>
                        </select>

                        @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Degree, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
                    </div>
                </div>







                <div class="form-group">
                    @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                    </div>
                </div>








                <div class="form-group">
                    @Html.LabelFor(model => model.Adderess, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Adderess, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Adderess, "", new { @class = "text-danger" })
                    </div>
                </div>






                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <img class="captcha-image" src="@Url.Action("CaptchaImage", "Home", routeValues: new { rdnDate = DateTime.Now.Ticks })" />
                        (<button type="button" class="refresh-captcha">تازه سازی</button>)
                        <br />
                        @Html.TextBoxFor(model => model.CaptchaInputText, new { @class = "ltr form-control text-box single-line", autocomplete = "off", placeholder = "عددی که در عکس می بینید وارد کنید." })
                        <br />
                        فقط عدد وارد کنید.
                        <br />
                        @Html.ValidationMessageFor(model => model.CaptchaInputText)
                        <br />

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ثبت نام" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        jQuery(function ($) {
            $("#NatinalCode").mask("9999999999");
            $("#Mobile").mask("99999999999");
            $("#Telephone").mask("99999999999");
            $("#AltTelephone").mask("99999999999");

            $("#JobTelephone").mask("99999999999");



        });
        $(function () {
            $('.refresh-captcha').click(function () {
                //alert();
                $.ajax({
                    url: '@Url.Action("CaptchaImage","Home")',
                    type: "GET",
                    data: null
                })
                .done(function (functionResult) {
                    $(".captcha-image").attr("src", "/Home/CaptchaImage?" + functionResult);
                });
            });
        });
    </script>
}
